/* breadcrumbs styles
-------------------------------------------- */

.breadcrumb {
  background-color: #e5e5e5;
  margin-bottom: 0;
  padding: 8px 0;

  &>li {

    &>a {
      font-size: @font-size-md;
      color: #5a6066;
      
      i {
        margin-right: 3px;
      }
    }
  }
}