/* Main button styles
--------------------------------------- */

.crm-btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  border: 1px solid transparent;
  font-size: 12px;
  text-decoration: none;
  
  &.crm-btn-default {
    background-color: @discussion;
    border-color: @discussion;
    
    &:hover,
    &:focus,
    &:active {
      outline: 0;
      background-color: darken(@discussion, 15%);
      border-color: darken(@discussion, 15%);
      color: #fff;
      text-decoration: none;
    }
  }

  &.crm-btn-action {
    background-color: @discussion;
    border-bottom: 2px solid darken(@discussion, 15%);

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      background-color: darken(@discussion, 15%);
      border-bottom: 2px solid @discussion;
      color: #fff;
      text-decoration: none;
    }
  }

  &.crm-btn-prime {
    background-color: #fff;
    border-color: #ccc;
    color: #555;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      background-color: #efeeee;
      color: #555;
      text-decoration: none;
    }
  }
}