/* Custom checkbox styles
------------------------------------ */

input[type=checkbox].crm-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].crm-checkbox + label.crm-label {
  padding-left: 25px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  cursor:pointer;

}

input[type=checkbox].crm-checkbox:checked + label.crm-label {
  background-position: 0 -18px;
}
label.crm-label {
  background-image:url(../../../assets/images/checkbox/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}