/* Form and form elements
------------------------------------ */
.form-control {
  display: inline-block;
  border-radius: 0;
  font-size: 12px;
  border-color: #e2e2e2;
  box-shadow: none;
}

.form-horizontal .control-label {
  font-size: 12px;
  font-weight: 400;
}

/*Special input for right filter block*/
.filter-input {
  width: 75px;
  height: 23px;
  border: 1px solid #c5c5c5;
  font-size: 12px;
  padding: 4px;
}

.styled-select {
  width: 100%;
  height: 34px;
  overflow: hidden;
  background: url(../../../assets/images/icons/select-arrow.jpg) no-repeat right center;
  border: 1px solid #e2e2e2;
  border-radius: 0;

  select {
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
}

.upload-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.35);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.upload-icon .button {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.upload-icon input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}

.upload-icon-img {
  position: absolute;
  left: 16px;
  top: 16px;

  .button {
    background: url(../../../assets/images/icons/skrepka.png);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 14px;
    text-indent: -9999px;
  }

  input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
  }
}


@media (max-width: 767px) {
  .__auth {
    width: auto;
  }
}
