/* Adding custom styles for default headings
------------------------------------------------------ */

.h2_main {
  font-size: @font-size-lg;
  color: @color-default;
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 0;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: @color-default;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: @border-default;
  }
}

.h2 {
  font-size: @font-size-lg;
  color: @color-dark;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 0;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: @color-default;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: @border-default;
  }
}

.h1 {
  font-size: @font-size-xlg;
  font-weight: 300;
  color: @color-dark;
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0;
  padding-bottom: 20px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: @color-default;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: @border-default;
  }
}

.h3 {
  font-size: (@font-size-lg)+2;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .h1 {
    text-align: center;

    &:before {
      left: 0;
    }
  }

  .h3 {
    text-align: center;
  }
}