/**
* Icons styles
**/

.plus {
  background: url("../../../assets/images/icons/plus.png");
  width: 14px;
  height: 15px;
  display: inline-block;
}

.minus {
  background: url("../../../assets/images/icons/minus.png");
  width: 14px;
  height: 15px;
  display: inline-block;
}