/* Custom modal styles
------------------------------- */

.small_modal {
  top: 20%;
}

.study_modal {
  width: 1000px;
}

.modal-header {
  border-bottom: 2px solid #e5e5e5;
  .modal-title {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
  }
  .modal-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: #c2c2c2;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;

    i {
      font-size: 16px;
      line-height: 30px;
      color: #fff;
    }
  }
}

.modal-footer {
  background-color: #f2f2f2;
}

.modal-content,
.modal-body {
  border-radius: 0;
}
