/* Navigation styles
------------------------------------ */

.nav-main_ul {
  margin: 0;
  padding: 0;
  list-style: none;

  &>.nav-main_li {
    position: relative;
    display: block;

    &>a {
      display: block;
      padding: 15px 20px;
      font-size: 14px;
      color: #fefefe;
      white-space: nowrap;
      text-overflow: ellipsis;

      i {
        width: 20px;
        text-align: center;
      }
    }

    &:hover {
      &>a{
        background-color: #353844;
        box-shadow: 3px 0 0 @acceptance inset;
        text-decoration: none;
      }
    }
  }

  &>.active {
    &>a {
      background-color: #353844;
      box-shadow: 3px 0 0 @acceptance inset;
    }
  }

  &>.nav-parent {

    &>a{
      &:after {
        font-family: FontAwesome;
        content: '\f107';
        font-size: 16px;
        font-size: 1.6rem;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 14px 25px;
      }
    }
    .nav-children_ul {
      display: none;
      margin: 0;
      padding: 0 0 0 40px;
      list-style: none;
      background-color: #353844;

      &>.nav-children_li {
        position: relative;
        display: block;
        &>a {
          display: block;
          padding: 8px 10px;
          font-size: 13px;
          color: #fefefe;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
  &>.collapsed {
    &>a{
      &:after {
        font-family: FontAwesome;
        content: '\f106';
        font-size: 16px;
        font-size: 1.6rem;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 14px 25px;
      }
    }
  }
}

.sidebar-collapsed {
  .nav-main_ul {
    .nav-main_li {
      a {
        span {
          display: none;
        }
        i {
          font-size: 20px;
        }
      }
    }
    &>.nav-parent {

      &:hover {
        &>.nav-children_ul {
          position: absolute;
          top: 0;
          left: 60px;
          padding: 0;
          display: block !important;
        }
      }

    }
  }
}

/*Mobile navigation*/

.navigation-mobile {
  display: none;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  background-color: @sidebar-color;
  border-bottom: 1px solid #e5e5e5;

  &>.navigation-mobile_li {
    display: inline-block;
    width: 100%;
    
    &:hover {
      &>a {
        background-color: #353844;
        box-shadow: 3px 0 0 #20a8d8 inset;
        text-decoration: none;
      }
    }
    
    &>a {
      position: relative;
      padding: 15px;
      display: block;
      color: #fefefe;
      font-size: @font-size-md;
      text-decoration: none;
      
      &>i {
        margin-right: 5px;
      }
    }
  }

  &>.navigation-mobile-parent {
    &>a{
      &:after {
        font-family: FontAwesome;
        content: '\f107';
        font-size: 16px;
        font-size: 1.6rem;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 14px 25px;
      }
    }

    .navigation-mobile-children_ul {
      display: none;
      margin: 0;
      padding: 0 0 0 20px;
      list-style: none;
      background-color: #353844;

      .navigation-mobile-children_li {
        position: relative;
        display: block;

        & > a {
          display: block;
          padding: 8px 10px;
          font-size: 13px;
          color: #fefefe;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
  &>.collapsed {
    &>a{
      &:after {
        font-family: FontAwesome;
        content: '\f106';
        font-size: 16px;
        font-size: 1.6rem;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 14px 25px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-main_ul {
    &>.nav-parent {
      .nav-children_ul {
        padding: 0 0 0 20px;
      }
    }
  }
}