/**
* Panels styles
**/

.panel {
  border: none;
  border-radius: 0;

  .panel-heading {
    color: @color-link;
    font-size: @font-size-md;
    border-bottom: 2px solid #e5e5e5;
    
    .panel-title {
      font-size: @font-size-md;

      &:after {
        content: url(../../../assets/images/icons/collapsed.png);
        float: right;
      }

      &>a {
        &:hover,
        &:focus {
          color: @color-link-hover;
        }
      }
    }
  }
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}

.panel-action {
  margin-top: 5px;

  .panel-action_l {
    float: left;

    img {
      margin-top: 5px;
    }
  }

  .panel-action_r {
    float: right;
  }
}