/* Statuses styles
--------------------------------- */

.success {
  color: @success;
}

.error {
  color: @failed;
}
.status {
  color: #fff;
  line-height: normal;
  display: inline-block;
  padding: 3px 15px 3px 6px;
  border-radius: 0 10px 10px 0;
  text-align: left;
}

.status-discussion {
  background-color: @discussion;
}

.status-acceptance {
  background-color: @acceptance;
}

.status-agreement {
  background-color: @agreement;
}

.status-success {
  background-color: @success;
}

.status-failed {
  background-color: @failed;
}

.type {
  display: inline-block;
  line-height: 12px;

  &.type_meet {

    &:before {
      content: url(../../../assets/images/icons/clock.png) no-repeat left center;
      display: inline-block;
      padding-right: 6px;
      vertical-align: middle;
    }
  }

  &.type_task {

    &:before {
      content: url(../../../assets/images/icons/task.png) no-repeat left center;
      display: inline-block;
      padding-right: 6px;
      vertical-align: middle;
    }
  }

  &.type_money {

    &:before {
      content: url(../../../assets/images/icons/money.png) no-repeat left center;
      display: inline-block;
      padding-right: 6px;
      vertical-align: middle;
    }
  }

  &.type_call {

    &:before {
      content: url(../../../assets/images/icons/call.png) no-repeat left center;
      display: inline-block;
      padding-right: 6px;
      vertical-align: middle;
    }
  }

  &.type_mail {

    &:before {
      content: url(../../../assets/images/icons/mail.png) no-repeat left center;
      display: inline-block;
      padding-right: 6px;
      vertical-align: middle;
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;

    &:hover,
    &:focus {
      outline: 0;
      color: @color-link-hover;
      text-decoration: none;
    }
  }
}