/* Table styles
----------------------------------------- */
.col1 {
  width: 20px;
}

.col-status {
  width: 200px;
}

.col_t {
  width: 300px;
}

.col-type {
  width: 120px;
}

.table-crm {
  width: 100%;
  /*table-layout: fixed;*/

  &>thead {
    &>tr {
      border-bottom: 2px solid #ddd;
      &>th {
        position: relative;
        padding: 15px;
        font-size: 14px;
        font-weight: 400;
        color: #1080a7;

        &>a {
          color: #1080a7;
        }

        &:first-child {
          padding: 15px 0 15px 5px;
        }
      }
    }
  }
  &>tbody {
    &>tr {
      border-bottom: 1px solid #ddd;
      &:nth-child(odd) {
        background-color: #f5f5f5;
      }
      &>td {
        position: relative;
        padding: 15px;
        line-height: 24px;

        &:first-child {
          padding: 15px 0 15px 5px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .table-crm {
    & > thead {
      & > tr {
        & > th {
          padding: 10px 5px;

          &:first-child {
            padding: 10px 0 10px 5px;
          }
        }
      }
    }
    &>tbody {
      &>tr {

        &>td {
          padding: 10px 5px;

          &:first-child {
            padding: 10px 0 10px 5px;
          }
        }
      }
    }
  }

  .col-status {
    width: 100px;
  }
  .col_t {
    width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*.table-crm {
    table-layout: fixed;
  }*/

  .col-status {
    width: 140px;
  }
  .col_t {
    width: 160px;
  }
}

@media (max-width: 767px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr { border: 1px solid #ccc; }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
    vertical-align: middle;

    .checkbox {
      margin: 0;
    }
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 15px;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}