/**
* CRM company styles
**/

.company-info_t {
  text-decoration: underline;
}

.company-info_ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  .company-info_li {
    line-height: normal;
    padding: 12.5px 0;
  }
}

.company-info_edit {
  text-align: right;

  i {
    color: #726666;
  }

  a {
    color: #726666;
    text-decoration: underline;

    &:focus,
    &:hover {
      outline: 0;
      text-decoration: none;
    }
  }
}