/**
* CRM contacts styles
**/

.addcontact-block {
  margin-bottom: 20px;

  .addcontact-block_l {
    float: left;
    width: 206px;
  }

  .addcontact-block_r {
    float: right;
    width: calc(~'100% - 206px');
    padding-left: 15px;
  }
}

#contact-photo {
  position: relative;
  max-height: 181px;
  overflow: hidden;
  border: 2px solid #d5dae2;

  &:hover {
    .upload-icon {
      display: block;
    }
  }
}

.contact-info_n {
  font-size: @font-size-md;
  padding-bottom: 5px;
  border-bottom: 2px solid #e5e5e5;
}

.contact-info_t {
  font-size: (@font-size-md - 1);
  text-decoration: underline;
}

.contact-info_ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  .contact-info_li {
    line-height: normal;
    padding: 12.5px 0;
  }
}

.contact-info_edit {
  text-align: right;

  i {
    color: #726666;
  }

  a {
    color: #726666;
    text-decoration: underline;

    &:focus,
    &:hover {
      outline: 0;
      text-decoration: none;
    }
  }
}