/**
* Deals styles
**/

.deal-list_ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;

  .deal-list_li {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-top: 1px dotted #e5e5e5;
    
    &:last-child {
      border-bottom: 1px dotted #e5e5e5;
    }

    .deal-list_t {
      font-size: @font-size-md;
      line-height: @font-size-md;
      margin-bottom: 10px;

      a {
        color: @color-link;

        &:hover,
        &:focus {
          color: @color-link-hover;
        }
      }
    }
    
    .deal-list_status {
      float: left;
      margin-right: 10px;
      color: #1080a7;

      a {
        color: #1080a7;
      }
    }

    .deal-list_summ {
      float: left;
    }

    .deal-list_date {
      float: right;
      font-size: 11px;
      color: #7b7b7b;
    }
  }
}

.additional-fields {
  display: none;
}

.upload-icon {
  display: none;
}

.deal-add {
  position: relative;

  .deal-add_block {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    padding: 15px;
    background-color: #fff;
    z-index: 2;
    border-left: 1px solid @discussion;
    border-right: 1px solid @discussion;
    border-bottom: 1px solid @discussion;

    .deal-add_price {
      display: inline-block;

      span {
        margin-right: 10px;
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}