/* Progressbar styles
---------------------------------- */

.deal {
  padding: 40px 20px 90px 20px;

  .deal-progress {
    margin-bottom: 18px;

    .deal-progress_n {
      float: left;
      font-size: 12px;
      color: #fefefe;
      margin-bottom: 5px;
    }
    .deal-progress_cnt {
      float: right;
      font-size: 12px;
      color: #fefefe;
      margin-bottom: 5px;
    }
    .deal-progress_block {
      height: 8px;
      overflow: hidden;
      background-color: #0d131e;

    }
    .deal-progress_bar {
      float: left;
      width: 0;
      height: 100%;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background-color: #f2f2f2;
      -webkit-transition: width .6s ease;
      -o-transition: width .6s ease;
      transition: width .6s ease;
      
      &.discussion {
        background-color: @discussion;
      }
      &.acceptance {
        background-color: @acceptance;
      }
      &.agreement {
        background-color: @agreement;
      }
      &.success {
        background-color: @success;
      }
      &.failed {
        background-color: @failed;
      }
    }
  }
}

.sidebar-collapsed {
  .deal {
    display: none;
  }
}