/**
* Task styles
**/

.tasks-block {

  .tasks-block_list {
    background-color: #fff;
    padding: 15px 25px;
    
    .tasks-block_t {
      font-size: 18px;
      color: @color-link;
      margin-bottom: 10px;
    }

    .tasks-block_selects {
      margin-bottom: 10px;
    }

    .tasks-block_textarea {
      position: relative;

      .tasks-block_textarea_actions {
        position: absolute;
        bottom: 5px;
        left: 16px;
        right: 16px;
        background-color: #f6f6f6;
        height: 43px;
        padding: 6px;

        .textarea_actions_l {
          float: left;
        }
        .textarea_actions_r {
          float: right;
        }
      }
    }
  }

  .tasks-block_ul {
    margin: 55px 0 0 0;
    padding: 0;
    list-style: none;

    .tasks-block_li {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      
      &.failed {
        border-left: 2px solid @failed;
      }

      &.inprogress {
        border-left: 2px solid @discussion;
      }

      &.done {
        border-left: 2px solid #c2c2c2;
      }

      .tasks-block_box {
        padding: 10px;
        background-color: #f7f7f7;
        border-top: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;

        .tasks-block_type {
          display: inline-block;
          margin-right: 10px;
        }

        .tasks-block_date {
          display: inline-block;
          margin-right: 10px;
          color: #737373;
        }

        .tasks-block_responsible {
          display: inline-block;
          margin-right: 50px;
          color: #737373;
        }

        .tasks-block_executor {
          display: inline-block;
          color: #737373;

          &:before {
            content: ">";
            padding-right: 5px;
            color: #737373;
          }
        }

        .tasks-block_actions {
          text-align: right;
          color: #737373;

          .task-end {
            color: #737373;
            display: inline-block;


            &:hover,
            &:focus {
              color: #737373;
              text-decoration: none;
            }

            &:before {
              content: url("../../../assets/images/icons/success.png");
              padding-right: 5px;
            }
          }

          .task-delete {
            color: #737373;
            margin-left: 10px;
          }
        }
        
        .tasks-block_desc {
          margin-top: 15px;
          padding: 10px 0;

          a {
            color: #1080a7;
            text-decoration: underline;
            margin-left: 6px;

            &:hover,
            &:focus {
              text-decoration: none;
              color: #1080a7;
            }
          }
        }
      }
    }
  }
}