/* Main workarea styles
----------------------------------- */
.main-content {
  position: relative;
  margin-left: 292px;
  padding: 25px;
  height: 100%;
}

.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 292px;
  z-index: 2;
  height: 46px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;

  .top-bar_toggler {
    float: left;
    padding: 11px 19px;
    border-right: 1px solid #e5e5e5;

    &>a {
      padding: 5px;
      background-color: #9fabac;
      border-radius: 2px;
      color: #fff;
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
    }
  }

  .top-bar_n {
    font-size: 18px;
    color: #9fabac;
    float: left;
    padding: 10.5px 20px;
  }

  .tob-bar_search {
    width: 30%;
    float: left;
    padding: 0 20px;

    .tob-bar_search_inpt {
      width: 100%;
      height: 45px;
      padding: 10.5px 15px;
      border: none;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      font-size: 12px;
      background: url(../../../assets/images/icons/icon-search.png) no-repeat 98% center;
      color: #999;
      &:focus {
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
    }
  }

  .top-bar_ntf {
    position: absolute;
    top: 8px;
    right: 0;


    .top-bar_ntf_i {
      display: inline-block;
      margin-right: 15px;
      &>a {
        display: block;
        background-color: #e5e9ec;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        text-align: center;
        border: 2px solid #e5e9ec;

        &>i {
          color: #acaeaf;
          font-size: 16px;
          line-height: 28px;
        }

        &:hover,
        &.active {
          background-color: #fff;
          border: 2px solid @discussion;
          i {
            color: @discussion;
          }
        }
      }
    }
  }
}

/*Mobile top-bar*/
.top-bar-mobile {
  width: 100%;
  height: 46px;
  border-bottom: 1px solid #fff;
  background-color: @sidebar-color;

  .top-bar-mobile_toggler {
    float: left;
    border-right: 1px solid #fff;

    &>a {
      color: #fff;
      font-size: 18px;
      line-height: 14px;
      display: inline-block;
      padding: 13px 19px;
    }
  }

  .top-bar-mobile_n {
    font-size: 16px;
    color: #fff;
    float: left;
    padding: 11.5px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .top-bar-mobile_ntf {
    position: absolute;
    top: 8px;
    right: 0;


    .top-bar-mobile_ntf_i {
      display: inline-block;
      margin-right: 15px;
      &>a {
        display: block;
        background-color: #fff;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        text-align: center;
        border: 2px solid #e5e9ec;

        &>i {
          color: @sidebar-color;
          font-size: 16px;
          line-height: 28px;
        }

        &:hover,
        &.active {
          background-color: #fff;
          border: 2px solid @discussion;
          i {
            color: @discussion;
          }
        }
      }
    }
  }
}

/*editing profile*/
.user-avatar {
  width: 108px;
  border: 2px dashed #e5e5e5;
  padding: 2px;
}

.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  .button {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 4px 0;
    color: @discussion;
    width: 108px;
    text-align: center;
    text-decoration: underline;
  }
  input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
  }
}

/*news-ntf block*/
.news-ntf {
  display: none;
  position: absolute;
  top: 46px;
  right: -308px;
  z-index: 1;
  width: 308px;
  height: calc(~'100% - 46px');
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;

  .news-ntf_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .news-ntf_li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px 15px 15px;
      border-bottom: 1px solid #e5e5e5;

      &:last-child {
        border-bottom: none;
      }

      .news-ntf_icon {
        display: inline-block;
        vertical-align: top;
        margin-right: 12px;
        width: 33px;
        height: 33px;
        text-align: center;
        border-radius: 50%;
        margin-top: 15px;
        background-color: @discussion;
        
        i {
          color: #fff;
          font-size: 16px;
          line-height: 36px;
        }
      }

      .news-ntf_info {
        display: inline-block;
        vertical-align: top;
        width: 228px;
        margin-bottom: 10px;

        .news-ntf_desc {
          color: #373737;
          line-height: 14px;
          margin-top: 15px;
          margin-bottom: 8px;
        }

        .news-ntf_time {
          color: #8b8b8b;
          float: left;


          i {
            margin-right: 5px;
          }
        }

        .news-ntf_detail {
          float: right;

          a {
            color: @acceptance;
          }
        }
      }
    }
  }
}

/*tasks-ntf block*/
.tasks-ntf {
  position: absolute;
  right: 53px;
  top: 37px;
  display: none;
  width: 255px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 15px;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 15px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #e5e5e5;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  .tasks-ntf_block {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .tasks-ntf_t {
      font-size: 15px;
      line-height: 15px;
      color: #373737;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #e5e5e5;
    }

    .tasks-ntf_ul {
      padding: 0;
      margin: 0;
      list-style: none;

      &>.tasks-ntf_li {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;

        &>.tasks-ntf_n {
          display: block;
          margin-bottom: 3px;
          font-size: 13px;
        }

        &>.tasks-ntf_time {
          font-size: 11px;
          color: #b8b8b8;
          float: left;
        }
        &>.tasks-ntf_action {
          float: right;

          a {
            text-decoration: underline;
            font-size: 11px;
            color: #b8b8b8;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    &.__failed {
      .tasks-ntf_n {
        color: @failed;
      }
    }

    &.__nearest {
      .tasks-ntf_n {
        color: #1080a7;
      }
    }
  }
}

/*workarea block styles*/
.workarea-block {
  margin-top: 46px;
  position: relative;

  .workarea-block_shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .workarea-block_cnts {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      width: calc(~'100% - 296px');
      height: 100%;
      padding: 15px;
      background-color: #fff;
    }
    .workarea-block_filter {
      width: 296px;
      padding: 15px;
      float: right;
      height: 100%;
      background-color: #e4e4e4;
    }

    .workarea-block-mobile_filter {
      position: relative;
      padding: 15px;
      margin-bottom: 20px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

      .workarea-block-mobile_filter_t {
        display: block;
        font-size: 16px;
        cursor: pointer;
      }

      .workarea-block-mobile_filter_cnt {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .main-content {
    margin-left: 240px;
  }

  .top-bar {
    left: 240px;
  }

  .workarea-block {

    .workarea-block_filter {
      width: 240px;
    }

    .workarea-block_submit {
      text-align: center;
    }

    .workarea-block_cnts {
      width: calc(~'100% - 240px');
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-content {
    margin-left: 200px;
  }

  .top-bar {
    left: 200px;
  }

  .workarea-block {

    .workarea-block_filter {
      width: 230px;
      padding: 10px;
    }

    .workarea-block_submit {
      text-align: center;
    }

    .workarea-block_cnts {
      width: calc(~'100% - 230px');
      padding: 10px;
    }
  }

  .news-ntf {
    width: 255px;

    .news-ntf_ul {
      .news-ntf_li {
        padding: 0 10px 10px 10px;
        
        .news-ntf_icon {
          margin-right: 5px;
        }
        .news-ntf_info {
          width: 190px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-content {
    margin: 0;
    padding: 15px;
  }

  .workarea-block {
    margin: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .workarea-block_cnts {
      position: relative;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .workarea-block_submit {
      margin: 20px 0 0 0;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .main-content {
    margin: 0;
    padding: 15px;
  }

  .workarea-block {
    margin: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .workarea-block_cnts {
      position: relative;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .workarea-block_submit {
      margin: 20px 0 0 0;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .top-bar-mobile {
    .top-bar-mobile_n {
      max-width: 210px;
    }
  }
}