/* Theme styles for customize */
//@themeLightColor: #2d5f8b;
@themeLightColor: #1f8b1e;
@themeDarkColor: #154c7d;


/* Links */
a {
  color: fade(@themeLightColor, 100%);
}

/*Buttons*/

.btn-go {
  background-color: fade(@themeLightColor, 80%);

  &:hover,
  &:focus {
    background-color: fade(@themeLightColor, 100%);
  }
}

.btn-primary {
  background-color: fade(@themeLightColor, 100%);
  border-color: fade(@themeLightColor, 100%);

  &:hover,
  &:focus,
  &:active {
    background-color: fade(@themeDarkColor, 100%);
  }
}

/*Typography*/
.h2_main {
  color: fade(@themeLightColor, 100%);

  &:before {
    background-color: fade(@themeLightColor, 100%);
  }
}

.h2 {
  &:before {
    background-color: fade(@themeLightColor, 100%);
  }
}

.h1 {
  &:before {
    background-color: fade(@themeLightColor, 100%);
  }
}

/*Nano scroller*/
.nano > .nano-pane {
  background: fade(@themeLightColor, 25%);
}

.nano > .nano-pane > .nano-slider {
  background: fade(@themeLightColor, 100%);
}

/*Navigation*/
.navbar-default {
  background-color: fade(@themeLightColor, 100%);
  border-color: fade(@themeLightColor, 100%);
}

.navbar-default .navbar-toggle {
  border-color: fade(@themeLightColor, 100%);
}

/*Pager*/
.pager li > a:hover,
.pager li > a:focus {
  background-color: fade(@themeLightColor, 100%);
}

.pager li.active > a {
  background-color: fade(@themeLightColor, 100%);
}

/*Header*/
.header {
  background-color: fade(@themeLightColor, 100%);
}

/*Ask*/
.ask-block_info_ul {

  .ask-block_info_li {
    &.styled {
      border-left: 4px solid fade(@themeLightColor, 100%);
    }

    &.disabled {
      border-left: 4px solid fade(@themeLightColor, 100%);
    }


    i {
      color: fade(@themeLightColor, 100%);
    }


  }
}
.__teacher {

  .dialogue_li_post_n {
    background-color: fade(@themeLightColor, 100%);
  }

  .clock {
    background-color: fade(@themeLightColor, 100%);
  }
}

/*Courses*/
.courses-block_box {
  .courses-block_box_i {
    border-left: 4px solid fade(@themeLightColor, 100%);

    .courses-block_box_collapse,
    .courses-block_box_collapsed {
      i {
        color: fade(@themeLightColor, 100%);
      }
    }
  }
}

/*Study*/

.study-block_ul {
  .study-block_li {
    border-left: 4px solid fade(@themeLightColor, 100%);

    .study-block_i {
      .study-block_t {

        i {
          color: fade(@themeLightColor, 100%);
        }
      }
    }

  }
}

.study-block_theme {
  border-left: 4px solid fade(@themeLightColor, 100%);
}

.study-block_back {
  color: fade(@themeLightColor, 100%);
  a {
    color: fade(@themeLightColor, 100%);
  }
}

/*System actions*/
.system-actions_i {
  border-left: 4px solid fade(@themeLightColor, 100%);
}

.system-actions_ul {
  .system-actions_li {
    a {
      border: 2px solid fade(@themeLightColor, 100%);
    }
  }
}

/*Task*/
.task-block_ul {
  .task-block_li {
    border-left: 4px solid fade(@themeLightColor, 100%);

    .task-block_i {
      .task-block_t {

        i {
          color: fade(@themeLightColor, 100%);
        }
      }
    }
  }
}

/*Statistic*/
.statistic-info_ul {
  .statistic-info_li.styled {
    border-left: 4px solid fade(@themeLightColor, 100%);
  }
}

/*Footer*/
.footer {
  background-color: fade(@themeLightColor, 100%);
}
