/* Color Scheme */
@sidebar-color: #222a38;

/* Link */
@color-link: #373737;
@color-link-hover: darken(@color-link, 15%);

/* Statuses */
@success: #3e9138;
@failed: #f56954;
@agreement: #3b7387;
@acceptance: #20a8d8;
@discussion: #37a8af;


/* Font size */
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 18px;
@font-size-xlg: 24px;

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  font-size: @font-size-sm;
}

#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

a {
  color: @color-link;
  outline: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;

  &:hover,
  &:focus {
    outline: 0;
  }
}