/* Cosmetic stylish
------------------------------------- */
.__mb_10 {
  margin-bottom: 10px;
}

.__mb_20 {
  margin-bottom: 20px;
}

.__mt_5 {
  margin-top: 5px;
}

.__mt_20 {
  margin-top: 20px;
}

.__mt_15 {
  margin-top: 15px;
}

.mb_4 {
  margin-bottom: 4px;
}

.__mr_5 {
  margin-right: 5px;
}

.w_100p {
  width: 100% !important;
}

.w_90p {
  width: 90%;
}